.customers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}

.customer {
    background-color: hotpink;
    border-color: fuchsia;
    color: black;
}

.customer__footer {
    margin: 1rem 0 0.25rem 0;
    font-style: oblique;
}

.customer__header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
}